.bg-color{
    background-image: url(imagenes/logos/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/*--------------------------- background------------------------------------- */

/*------------------------------ header---------------------------------------- */
.header{
    color: #A63F03;
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    margin: -7px;
}

.header > h1{
    display: inline-block;
    text-align: left;
    margin-left: 34px;
    font-size: 2.5em;
    margin-bottom: 15px;
}

.header > img{
    width: 130px;
    float: left;
    margin-left: 30px;
    margin-top: 7px;
    
}
/*----------------------------------header------------------------------ */

/*----------------------------------menu--------------------------------*/

#menu{
    border-bottom: 5px double #3F6F8C;
    border-top: 5px double #3F6F8C;
    border-right: hidden;
    border-left: hidden;
    margin-top: 5px;
}

#menu ul {
    display: flex;
    justify-content: space-around;
    list-style:none;
    padding:0;
    margin: 0;
}
  
#menu ul a {
    display:block;
    color: #A63F03;
    text-decoration:none;
    font-size: 2.2em;
    padding:10px;
    font-family: 'Josefin Slab', serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color: rgb(134, 193, 195);
    padding:0 60px 0 0;
    margin: 0;
}
   
#menu ul ul li {
    float:none;
    width:150px;
    font-size: 10px;
}
 
#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}
   
#menu ul li:hover > ul {
    display:block; 
}
/*-----------------------------------------menu--------------------------------*/

/*-----------------------------------card1---------------------------------*/
#card1{
    background-color: #f2a922;
    margin: 30px 30px;
    padding: 0;
    width: 94%;
    height: 3%;
}

#card1 h2{
    color: #A63F03;
    font-family: 'Parisienne', cursive;
    font-size: 5em;
    text-align: center;  
    margin: 10px;
}
/* ----------------------------card2-------------------------------- */
#card2 a{
    text-decoration: none;
}
#card2{
    background-color: #f2a922;
    margin: 30px 30px;
    padding: 5px 5px 30px 10px;
    width: 850px;
    height: 400px;
}
#card2:last-of-type{
    background-color: #f2a922;
    margin: 30px 30px;
    padding: 5px 5px 30px 10px;
    width: 850px;
    height: 300px;
}

#card2 h5{
    color: #54301A;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-style: italic;
    padding-left: 0px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0;
}

#card2 h2{
    color: #A63F03;
    font-family: 'Parisienne', cursive;
    font-size: 3em;
    text-align: center;  
    margin-top: 10%;
    display: inline-block;
    text-align: left;
    margin-left: 3%;
}

#card2 .firma{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #A63F03;
    font-family: 'Josefin Slab', serif;
    margin-right: -3%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    width: 288px;
    height: 68px;
}
/*-----------------------------------card3---------------------------------*/

/*----------------------------card---------------------------- */

/*--------------------------------imagenes--------------------------- */
#pizza{
    margin: 20px;
    float: left;
    width: 250px;
    margin-bottom: 9px;
}
#pizza1{
    margin: 20px;
    float: left;
    width: 300px;
    margin-bottom: 9px;
}

/*--------------------------------imagenes--------------------------- */
/*--------------------------------footer--------------------------- */
.footer{
    border-top: 5px double #3F6F8C;
    border-right: hidden;
    border-left: hidden;
    border-bottom: hidden;
    color: #A63F03;
    
}

.footer #logo{
    width: 80px;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}

.footer h2{
    font-family: 'Parisienne', cursive;
    font-size: 2.5em;
    display: inline-block;
    text-align: left;
    margin-left: 14px;
    margin-bottom: 15px;
}

#logo2{
    float: right;
    width: 160px;
    margin-right: 100px;
    margin-top: 0px;
}

.footer p{
    font-family: 'Josefin Slab', serif;
    font-size: 1.7em;
    font-weight: bolder;
    text-align: left;
    margin: 25px 0 25px 30px;
    width: 500px;
}
/*--------------------------------footer--------------------------- */