
/* -------------------------------background-------------------------------- */
.bg-color{
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/*--------------------------- background------------------------------------- */

/*------------------------------ header---------------------------------------- */
.header{
    color: #A63F03;
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    margin: -7px;
}

.header > h1{
    display: inline-block;
    text-align: left;
    margin-left: 25px;
}

.header > img{
    width: 130px;
    float: left;
    margin-left: 30px;
    
}
/*----------------------------------header------------------------------ */

/*----------------------------------menu--------------------------------*/
.menu{
    border-bottom: 5px double #3F6F8C;
    border-top: 5px double #3F6F8C;
    border-right: hidden;
    border-left: hidden;
    margin: 10px 0 0 0;
}

.menu > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'Josefin Slab', serif;
    font-size: 2.5em;
    padding: 0;
    margin: 10px 0 0 0;
}

.menu > ul > li > a{
    color: #A63F03;
    text-decoration: none;
}
/*-----------------------------------------menu--------------------------------*/

/*-----------------------------------articulo---------------------------------*/
.articulo{
    background-color: #f2a922;
    margin: 30px 40px;
    padding: 5px 5px 30px;
    width: 65%;
}

.articulo > h5{
    color: #54301A;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-style: italic;
    padding-left: 0px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0;
}

.articulo > h2{
    color: #A63F03;
    font-family: 'Parisienne', cursive;
    font-size: 40px;
    text-align: center;  
    margin: 10px;
}

.articulo > p{
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
    text-align: left;
    margin: 0;
    color: #54301A;
}
/*---------------------------- articulo---------------------------- */

/*--------------------------------imagenes--------------------------- */
.pizzeta{
    margin: 20px;
    float: right;
    width: 300px;
}

/*--------------------------------imagenes--------------------------- */

